@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             #4E5D6C;   // #999
@gray-lighter:           #EBEBEB; // #eee

@brand-primary:         #DB6574; //#F27902;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-disabled:        #8c8c8c;
@brand-control-panel:   #fff;
@brand-nav-bar:         #eee;
@brand-main-nav:         @brand-primary; //#313949; //#875A7B;
@brand-body-color:      #666666;
@brand-primary-dark-20: darken(@brand-primary, 80%);   // #333
@brand-primary-dark-10: darken(@brand-primary, 30%);   // #333
@brand-active-item:     #3F4448;
@brand-menu-item:       #CACACA;
@brand-table-color:     #8a8d93;

@brand-form-sheet-bg:   #22252a;
@brand-control-panel:   #2d3035;
@brand-form-sheet:      #2d3035;
@brand-border-line:     #34373d; //#444951; 
@brand-form-field:      #979a9f;
@brand-form-input:      @brand-form-field;
@brand-modal-title:     @brand-table-color;
@brand-button-color-hover:      #fff;
@brand-search-input-color:      #fff;
body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Proxima Nova', Georgia, sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    color: @brand-body-color !important;
}

/***
Rounded corners reset
***/
/* Reset rounded corners for all elements */
div, 
svg,          
input,      
select,                    
textarea,             
span,                          
img,               
table,                       
label,  
td,                  
th,    
p,          
a, 
button, 
ul,    
code,
pre,    
li {
    -webkit-border-radius: 0 !important;                   
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}

header > .main-nav {
    background-color: @brand-main-nav;
}

.navbar-default {
    border-color: @brand-main-nav;
}

header > .main-nav > .container-fluid .o_sub_menu > .o_sub_menu_content > .oe_secondary_menu > li.app-name {
    color: @brand-primary;
    text-transform: uppercase;
}
  
header > .main-nav > .container-fluid > .navbar-header .navbar-toggle {
    color: #f8f8f8;
}

.navbar-default .navbar-nav > li > a {
    color: @brand-nav-bar;
    background-color: @brand-nav-bar;
    &:hover {
        background-color: @brand-nav-bar;
        color: #fff;
    }
}

.navbar-nav {
    > li {
        .dropdown-menu {
            background: @brand-form-sheet;
            color: #fff;
        }
    }
    .open {
        .dropdown-menu {
            > li > a {
                padding: 8px 25px;
                color: @brand-menu-item;
                &:hover {
                    background-color: @brand-primary;
                    color: #fff;
                }
            }
            .divider {
                background-color: @brand-border-line;
            }
        }
    }

}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: @brand-nav-bar !important;
    background-color: lighten(@brand-main-nav, 10%) !important;
}

// .navbar-default .navbar-nav > .open > a,
// .navbar-default .navbar-nav > .open > a:hover,
// .navbar-default .navbar-nav > .open > a:focus {
//     background-color: lighten(@brand-main-nav, 10%) !important;
//     color: @brand-nav-bar !important;
// }

.img-circle {
    border-radius: 50% !important;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: @brand-primary;
    line-height: 1.42857143;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
}

.badge {
    border: 1px solid @brand-primary;
    margin: 1px 2px 1px 0;
    padding-top: 0;
    padding-bottom: 0;
}

/***
Kanban
***/
.o_web_client {
    nav {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navbar-inverse {
        background: @brand-form-sheet;
        border-color: @brand-border-line;
        .navbar-nav > .active > a {
            background: @brand-primary;
            border-bottom: 2px solid @brand-primary;
            color: #fff;
            //text-transform: uppercase;
            &:hover {
                color: @brand-primary;
                background: transparent;
            } 
        }
        .navbar-nav a {
            &:hover {
                color: @brand-primary;
                background: transparent;
            }
        }
    }
    background-color: #F9F9F9;
    > .o_main {
        background: @brand-form-sheet-bg;
        .o_view_manager_content {
            background: @brand-form-sheet-bg;
            padding: 10px;
            .o_graph_svg_container {
                svg {
                    background: @brand-form-sheet;
                    .nvd3 .nv-axis line {
                        stroke: @brand-border-line;
                    }
                }
            }
        }
        .o_sub_menu {
            background-color: #2c3136;
            border-right: 1px solid #34373d;
            min-width: 280px;
            .o_sub_menu_content {
                .oe_secondary_menu_section.active {
                    background: @brand-active-item;
                    transition: all .3s;
                    border-left: 4px solid @brand-primary;
                    .oe_menu_leaf {
                        .oe_menu_text {
                            color: #fff;
                        }
                    }
                }
                .oe_secondary_menu_section {
                    color: @brand-menu-item;
                    text-transform: uppercase;

                    position: relative;
                    display: block;
                    padding: 10px 10px;
                    margin-left: 0px;

                    .oe_menu_leaf {
                        .oe_menu_text {
                            color: @brand-menu-item;
                            text-transform: uppercase;
                        }    
                    }
                }
                .oe_secondary_submenu {
                    margin: 0px;
                    > li:not(.active) {
                        > a {
                            color: #a5a9ad;
                            &:hover {
                                background-color: @brand-active-item;
                                color: @brand-primary;
                                border-color: @brand-active-item;
                                transition: all .3s;
                                border-left: 4px solid @brand-primary;
                            }
                        }
                    }
                    > li > a {
                        position: relative;
                        display: block;
                        padding: 10px 15px;
                        //font-size: 14px;
                    }
                    >.nav-stacked {
                        > li + li {
                            margin-top: 0px !important;
                        }
                    }
                    .oe_menu_text {
                        max-width: 100% !important;
                    }
                }
                ul li.active {
                    border-left: 4px solid @brand-primary;
                }
            }
        }
        .o_content {
            .o_web_settings_dashboard {
                background: transparent;
                .o_web_settings_dashboard_col {
                    > div {
                        background: @brand-form-sheet;
                        > hr {
                            border-color: @brand-border-line;
                        }
                        .o_web_settings_dashboard_invitation_form {
                            textarea {
                                background: transparent;
                                border-color: @brand-border-line;
                                color: @brand-form-field;
                                &:focus {
                                    border-color: @brand-primary;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    a {
                        &:hover {
                            color: @brand-primary;
                        }
                    }
                }
            }
            .table {
                tr {
                    td {
                        border-color: @brand-border-line;
                        color: @brand-table-color;
                    }
                }
                tbody {
                    tr {
                        &:hover {
                            //background: @brand-primary;
                            td {
                                color: @brand-primary;
                                border-top: 1px dotted @brand-primary;
                                border-bottom: 1px dotted @brand-primary;
                            }
                        }
                    }
                }
            }
        }
        ul li a i {
            font-size: 21px;
            margin-right: 7px;
            vertical-align: middle;
        }
        ul li:nth-child(0) a i {
            color: #558B2F;
        }
    }
    .oe_import {
        background-color: transparent;
        .oe_import_box {
            background: @brand-form-sheet-bg;
            border: 1px solid @brand-border-line;
            p {
                color: @brand-primary;
            }
        }
    }
}
/* h4 {
    border-top: 1px solid @brand-border-line !important;
} */
textarea {
    background: @brand-form-sheet-bg;
    border: 1px solid @brand-border-line;
    color: @brand-form-field;
}
a.pull-right:hover {
    color: @brand-primary;
}
.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] 
.btn-default, 
.btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] 
.btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] 
.btn-default:focus, 
.btn-default.disabled.focus, 
.btn-default[disabled].focus, 
fieldset[disabled] 
.btn-default.focus, 
.btn-default.disabled:active, 
.btn-default[disabled]:active, 
fieldset[disabled] 
.btn-default:active, 
.btn-default.disabled.active, 
.btn-default[disabled].active, 
fieldset[disabled] .btn-default.active {
    background-color: @brand-border-line;
    border-color: #777777;
}

.o_searchview {
    background-color: #3d4853;
    border: 1px solid @brand-form-input;
    border-radius: 0px;
    .o_searchview_input {
        color: @brand-search-input-color;
        background: transparent;
    }
    .o_searchview_facet {
        background: @brand-primary;
        color: @brand-button-color-hover;
        .o_searchview_facet_label {
            text-transform: uppercase;
            font-size: 12px;
        }
        .o_facet_values {
            > span {
                font-size: 12px;
            }
            text-transform: uppercase;
        }
    }
}

/***
Modal
***/
.modal {
    .modal-content {
        background-color: @brand-form-sheet-bg; //transparent;
        /* .o_searchview {
            background-color: transparent;
            border: 1px solid @brand-border-line;
            border-radius: 0px;
            .o_searchview_input {
                color: @brand-primary;
                background: transparent;
            }
            .o_searchview_facet {
                background: @brand-primary;
                color: @brand-button-color-hover;
                .o_searchview_facet_label {
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }
        } */
        .modal-header {
            background: @brand-form-sheet;
            border-bottom-color: @brand-border-line;
            .close {
                color: @brand-primary;
                opacity: inherit;
                text-shadow: 0 1px 0 @brand-primary;
            }
            .modal-title {
                color: @brand-modal-title;
            }
        }
        .o_error_detail {
            pre {
                color: @brand-primary;
                background: transparent;
                border: 1px solid @brand-border-line;
            }
        }
        .modal-body {
            color: @brand-primary;
            background: @brand-form-sheet-bg;
            .table {
                padding: 10px 10px;
                color: @brand-form-field;
                tbody {
                    tr:hover {
                        td {
                            color: @brand-primary;
                            border-bottom: 1px dotted @brand-primary;
                            border-top: 1px dotted @brand-primary;
                        }
                        
                    }
                }
            }
            .table tfoot tr td {
                border-top-color: @brand-border-line;
                border-bottom-color: @brand-border-line;
            }
            .o_form_view {
                background-color: @brand-form-sheet-bg;
                .o_form_sheet {
                    background: @brand-form-sheet-bg;
                    .o_list_view {
                        tbody tr:hover { 
                            td { 
                                color: @brand-primary;
                                border-top: 1px dotted @brand-primary;
                                border-bottom: 1px dotted @brand-primary;
                            }
                        }
                        /* .o_readonly {
                            color: @brand-primary;
                            border-top: 1px dotted @brand-primary;
                            border-bottom: 1px dotted @brand-primary;
                        } */
                    }
                }
            }
            .panel-heading {
                background-color: @brand-form-sheet-bg;
                border: 1px solid;
            }
            .note-editor {
                border: 1px solid @brand-border-line;
                .panel-default {
                    > .panel-heading {
                        background: @brand-form-sheet;
                    }
                }
                .note-editable {
                    background: @brand-form-sheet-bg;
                    color: @brand-form-input !important;
                    border: 1px solid @brand-border-line;
                }
                .note-statusbar {
                    background: @brand-form-sheet;
                    color: @brand-form-input !important;
                }
            }
        }
        .modal-footer {
            background: @brand-form-sheet;
            border-top-color: @brand-border-line;
        }
    }
}
.nav-stacked > li + li {
    margin-top: 0px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #003eff;
	background: red;
	font-weight: normal;
	color: #ffffff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: @brand-active-item;
}

.o_kanban_view .o_kanban_record {
    border-color: #d9d7d7;
    box-shadow: none !important;
    &:hover {
        border-color: lighten(@brand-primary, 5%);
    }
}

.o_kanban_view .o_kanban_record, .o_kanban_view .o_kanban_quick_create {
    padding: 8px 8px;
    border: 1px solid @brand-border-line;
    background-color: transparent !important;
}

.o_control_panel {
    background-color:#F1F3F6;//@brand-control-panel;

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        background-color: lighten(@brand-main-nav, 10%);
    }
    .breadcrumb {
        background-color: transparent;

        > li > a {
            color: @brand-primary;

            &:hover {
                color: darken(@brand-primary, 10%);
            }
        }
    }
/*     .o_searchview {
        background-color: #3d4853;
        border: 1px solid #485561;
        .o_searchview_input {
            background: transparent;
            color: @brand-primary;
        }
        .o_searchview_facet {
            background: @brand-primary;
            border: 1px solid @brand-primary;
        }
        .o_facet_values,
        .o_facet_remove {
            color: #fff !important;
        }
    } */
}

.ui-autocomplete {
    background: @brand-form-sheet;
    .ui-menu-item {
        > a {
            color: @brand-menu-item;
        }
        &:hover {
            background: @brand-primary;
        }
    }
}

.btn-default {
    color: @brand-primary;
    background-color: transparent;
    border-color: transparent;

    &:hover {
        border-color: @brand-primary;
        background: @brand-border-line;
        color: #fff;
    }
}

.btn-primary {
    color: white;
    background-color: @brand-primary;
    border-color: @brand-primary;

    &:hover {
        // color: #202020;
        background-color: lighten(@brand-primary, 2.5%);
        border-color: lighten(@brand-primary, 2.5%);    
    }

    &:focus {
        color: #202020;
        background-color: lighten(@brand-primary, 3%);;
        border-color: lighten(@brand-primary, 3%);    
    }

    &:active {
        // color: #202020;
        background-color: lighten(@brand-primary, 3.5%) !important;
        border-color: lighten(@brand-primary, 3.5%) !important;
    }
}

.btn {
    text-transform: uppercase;

    &:active {
        box-shadow: none;
        border-color: @brand-primary;
    }

    &:hover {
        border-color: lighten(@brand-primary,0.1);
    }
}

.btn.active {
    box-shadow: none;
    border-color: @brand-primary;
}

.btn-icon {
    color: @brand-primary;
    background-color: transparent;
    border-color: transparent;

    &:hover {
        border-color: @brand-primary;
        background-color: transparent;
        color: @brand-button-color-hover;
    }
}

.btn-icon[disabled] {
    border-color: transparent;
    background-color: transparent;
    &:hover {
        background-color: transparent;
        border-color: @brand-border-line;
    }
}

.btn-icon:active, 
.btn-icon.active, 
.open > .dropdown-toggle.btn-icon {
    // color: #4c4c4c;
    // background-color: #e6e6e6;
    border-color: @brand-primary;
    box-shadow: none;
    &:hover {
        border-color: lighten(@brand-primary,10%);
    }
}

.btn-link {
    color: @brand-primary;

    &:hover {
        color: darken(@brand-primary, 5%);
    }
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: @brand-primary-dark-20;
    border-color: @brand-primary-dark-20;
    color: @brand-disabled;
}
/* 
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight) {
    color: @brand-primary;
    background-color: white;
    border-color: transparent;

    &:hover,
    &:focus,
    &:active {
        color: darken(@brand-main-nav, 20%);
        background-color: #fff;
        border-color: transparent;    
        // font-weight: bold;
    }
}
 */
a {
    &:hover {
        color: @brand-primary-dark-20;
    }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
    color: @brand-primary;
}

.o_form_view.o_form_editable .o_form_field_monetary > .o_form_input:focus {
    border-color: rgba(0,0,0,0.1);
    background-color: #e8e9ea;
    outline: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/***
Tabs
***/
.tab-content.nav.nav-tabs {
    border-left: 1px solid @brand-border-line;
    border-right: 1px solid @brand-border-line;
}
.nav-tabs > li > a {
    color: @brand-body-color;
    &:hover {
        color: @brand-primary;    
    }
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:active, 
.nav-tabs > li.active > a:focus {
    border-top: 1px solid;
    color: darken(@brand-main-nav , 20%);
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

/***
Breadcrumb
***/

/***
Table
***/
div.o_checkbox > input + span {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #8f8f8f;
    background-color: white;
}
div.o_checkbox > input {
    width: 20px;
    height: 20px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    cursor: pointer;
}

div.o_checkbox > input:focus + span {
    outline: 1px solid lighten(@brand-primary, 10%);
}
/* 
div.o_checkbox > input:checked + span {
    background-repeat: no-repeat;
    background-image: url(/condominium/static/src/img/checked.svg);
    background-position: center center;
}
 */
td a {
    color: @brand-primary;
    &:hover {
        color: @brand-primary-dark-20;
    }
}

.o_list_view tbody:first-of-type > tr:first-child:not(.o_group_header) {
    box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}

.o_list_view > thead {
    background-color: white;
    border: none;
}

.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > :not(:empty) {
    padding: 10px 4px !important;
}

.o_list_view{border-collapse: initial;} .o_list_view > thead > tr > th.o_column_sortable:not(:empty){padding-right: 13px;} .o_list_view > thead > tr > th.o_column_sortable:not(:empty):last-child{padding-right: 29px !important;} .o_list_view > thead > tr > :empty, .o_list_view > tbody > tr > :empty, .o_list_view > tfoot > tr > :empty{padding: 0;} .o_list_view > thead > tr > :empty::after, .o_list_view > tbody > tr > :empty::after, .o_list_view > tfoot > tr > :empty::after{display: none;} .o_list_view > thead > tr > *, .o_list_view > tfoot > tr > *{padding-top: 8px; padding-bottom: 8px;} .o_list_view > thead{background-color: white;border: none;} .o_list_view > thead > tr:first-child > th{border: none;} .o_list_view tbody:first-of-type > tr:first-child:not(.o_group_header){box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);} .o_list_view tfoot > tr > td{border-top: 2px solid #d9d7d7;} .o_list_view .o_progressbar_cell .o_progressbar{display: table-row;} .o_list_view .o_progressbar_cell .o_progressbar > div{width: 100%; display: table-cell;} .o_list_view .o_progressbar_cell .o_progressbar .o_progressbar_value{width: 45px; min-width: 45px;} .o_list_view.o_list_view_grouped > tbody > tr.o_group_header{background-color: #F9F9F9; box-shadow: inset 0 2px 0 #ffffff;} .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content{color: #777777;} .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content:hover, .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content:focus, .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.focus{color: #875A7B;} .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open{font-weight: bold; color: #2f3136;} .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open:hover, .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open:focus, .o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open.focus{color: #875A7B;} .o_list_view.o_list_view_grouped > tbody + tbody > tr:first-child:not(.o_group_header){box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);} .o_list_view.o_list_view_grouped.table-striped > tbody + tbody > tr:not(.o_group_header):nth-of-type(odd){background-color: white;} .o_list_view .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier){border-right: 1px solid #E5E5E5;} .o_list_view .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) .o_input{padding-right: 4px;} .o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > :not(:empty){padding: 14px 4px;} .o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr:not(.o_list_view_grouped) > td{padding: 7px 4px;} .o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr.o_group_header > th, .o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr.o_group_header > td{padding-top: 1px; padding-bottom: 1px;} .o_view_manager_content > div > .table-responsive > .o_list_view.table > tfoot > tr > :not(:empty){padding: 12px 4px;} .o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > th.o_column_sortable:not(:empty){padding-right: 15px;} .o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > th.o_column_sortable:not(:empty):last-child{padding-right: 31px !important;} .o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > *:first-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr > *:first-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *:first-child{padding-left: 16px !important;} .o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > *:last-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr > *:last-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *:last-child{padding-right: 16px !important;} .o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > *.o_list_record_selector, .o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr > *.o_list_record_selector, .o_view_manager_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *.o_list_record_selector{padding-right: 5px!important;} .o_view_manager_content > div > .table-responsive > .o_list_view.table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) .o_input{padding: 7px 6px 7px 7px;} @media (min-width: 1200px){.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > :not(:empty){padding: 17px 4px;}.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr:not(.o_list_view_grouped) > td{padding: 8px 4px;}.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr.o_group_header > th, .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr.o_group_header > td{padding-top: 1px; padding-bottom: 1px;}.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > :not(:empty){padding: 15px 4px;}.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > th.o_column_sortable:not(:empty){padding-right: 18px;}.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > th.o_column_sortable:not(:empty):last-child{padding-right: 34px !important;}.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > *:first-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr > *:first-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > *:first-child{padding-left: 16px !important;}.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > *:last-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr > *:last-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > *:last-child{padding-right: 16px !important;}.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > *.o_list_record_selector, .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr > *.o_list_record_selector, .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > *.o_list_record_selector{padding-right: 5px!important;}.o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) .o_input{padding: 8px 7px 8px 8px;}} 

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #F9F9F9;
}

/***
Icons
***/
.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
    color: @brand-primary-dark-20;
}

.header-icon {
    font-size: 45px;
    width: 45px;
    float: left;
    line-height: 1;
}

/***
Dropdown
***/
.dropdown-menu {
    background: @brand-form-sheet;
    > li {
        > a {
            color: @brand-menu-item !important;
            &:hover,
            &:focus {
                color: #fff !important;
                background-color: @brand-primary;
            }
        }
    }
    .divider {
        background-color: @brand-border-line;       
    }
}

/* 
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: @brand-nav-bar;
  background-color: @brand-main-nav;
}
 */
.o_search_options .o_group_by_menu li > a:hover,
.o_search_options .o_filters_menu li > a:hover,
.o_search_options .o_favorites_menu li > a:hover {
    color: @brand-nav-bar;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: @brand-primary;
}

.open { 
    > .dropdown-toggle.btn-primary {
        background-color: @brand-primary-dark-20;;
        border-color: @brand-primary;

        &:focus {
            background-color: @brand-primary-dark-20;
            border-color: @brand-primary-dark-20;
        }
        &:hover {
            background-color: @brand-primary-dark-10;
            border-color: @brand-primary-dark-10;
        }
    }
    > .dropdown-toggle.o_dropdown_toggler_btn {
        color: @brand-primary;
        background: transparent;
        &:focus,
        &:hover {
            color: @brand-primary;
            background: transparent;
            border-color: @brand-primary;
        }
    }
}

/***
Form Breadcrumb
***/
.ui-autocomplete {
    font-family: inherit;
    .ui-state-focus {
        background: @brand-primary !important;
    }
    .ui-menu-item.o_m2o_dropdown_option {
         a:hover {
             color: @brand-button-color-hover;
         }
    }
}

.o_form_view > header {
    border-bottom: 1px solid #a8a8a8;
    background-color: #fff;
    background-image: none;
}

.o_form_view ul.oe_form_status li,
.o_form_view ul.oe_form_status_clickable li {
  background-color: #fff;
  background-image: none;
}

.o_form_view ul.oe_form_status li.oe_active,
.o_form_view ul.oe_form_status_clickable li.oe_active {
  background-color: #F9F9F9;
  background-image: none;
}

.o_form_view ul.oe_form_status li.oe_active > .arrow span, 
.o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
    background-color: #F9F9F9 !important;
    background: #F9F9F9 !important;
}

.o_form_view ul.oe_form_status li.oe_active > .label,
.o_form_view ul.oe_form_status_clickable li.oe_active > .label {
  color: @brand-primary;
  text-shadow: none;
}

.o_form_view ul.oe_form_status li > .arrow span,
.o_form_view ul.oe_form_status_clickable li > .arrow span {
  background-color: #fff;
  background: #fff;
}

.o_form_view ul.oe_form_status li.oe_active > .arrow span,
.o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
  background-color: #fff;
  background: #fff;
}
  
.o_form_view ul.oe_form_status,
.o_form_view ul.oe_form_status_clickable {
  text-transform: uppercase;
}

.btn-icon:active, .btn-icon.active, .open > .dropdown-toggle.btn-icon {
    background: @brand-primary;
    color: #fff;
    &:hover {
        background: transparent;
        color: @brand-primary;
    }
}

/***
Form
***/
.o_form_view {
    background-color: @brand-form-sheet;
    > header {
        > button:not(.btn-primary):not(.btn-link):not(.oe_highlight) {
            color: @brand-primary;
            background-color: white;
            border-color: transparent;

            &:hover,
            &:focus,
            &:active {
                color: darken(@brand-main-nav, 20%);
                background-color: #fff;
                border-color: transparent;    
                // font-weight: bold;
            }
        }
        ul.oe_form_status {
            /* text-transform: lowercase; */
            font-size: 12px;
            li {
                background: transparent;
                > .label {
                    text-shadow: unset;
                    color: @brand-form-input;
                }
                > .arrow { 
                    background: @brand-form-sheet;
                    span {
                        background: @brand-form-sheet;
                        border: 1px solid @brand-form-sheet-bg;
                    }
                }
                &:first-child {
                    .label {
                        border-left: 1px solid @brand-border-line;
                    }
                }
                &:last-child {
                    border-right: 1px solid @brand-border-line;
                }
            }
            li.oe_active {
                border: unset;
                background: @brand-border-line;
                > .arrow span {
                    background: @brand-border-line !important;
                    border: 1px solid;
                }
                > .label {
                    border-left: unset;// 1px solid @brand-border-line;
                }
            }
        }
    }
    .o_group .o_form_field:focus,
    .o_form_field .o_form_input:focus,
    .o_group .o_form_field:hover,
    .o_form_field .o_form_input:hover {
        border-color: @brand-primary!important;
    }
    .o_form_field.o_form_field_many2one .o_external_button {
        color: @brand-primary;
    }
    .o_form_field_image > .o_form_image_controls > .fa.o_select_file_button {
        background: @brand-primary;
    }
    .o_group .o_td_label .o_form_label {
        font-weight: normal;
        margin-right: 0px;
        color: @brand-body-color !important;
    }
    .oe_title {
        padding-left: 0 !important;
        margin-left: 0 !important;
        margin-top: 40px;
    }
    .oe_avatar {
        float: right;
        > img {
            box-shadow: none;
            border: 1px solid #a8a8a8;
        }
    }
    .oe_button_box {
        width: initial;
        text-align: right;
        height: 44px;
        box-shadow: inset 0 -1px 0 #d9d7d7;
        margin-top: -17px;
        margin-left: -17px;
        margin-right: -16px;
        margin-bottom: 24px;
        .oe_stat_button {
            width: 142px !important;
            height: 44px;
            text-transform: capitalize;
            background: transparent;
            border: 1px solid @brand-border-line;
            &:hover {
                background: @brand-active-item;
                .oe_stat_text {
                    color: #fff;
                }
            }
            .o_button_icon {
                color: @brand-body-color;
                font-size: 22px;
            }
        }
    }
    .o_horizontal_separator {
        color: #a5a7ab;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        border-bottom: 1px dotted @brand-primary;
        background: transparent;
    }
    .o_group {
        .o_td_label {
            border-right: none;
            .o_form_label {
                color: #777;
                font-size: inherit;
            }
        }
    }
    .o_form_field {
        background-color: transparent;
    }
}

.o_form_view.o_form_readonly .o_form_uri {
    color: @brand-primary;

    &:hover {
        color: @brand-primary-dark-20;
    }
}

.o_form_view .o_form_field .o_form_input {
    background: transparent;
    border: 1px solid @brand-border-line;
    color: #777;
}

/***
Chater
***/
@media (min-width: 1200px) {
.o_form_view .oe_chatter {
    width: 1172px;
    max-width: 100%;
}
}

.o_chatter {
    .o_mail_thread {
        position: relative;
    }
    .o_chat_composer {
        background: @brand-form-sheet-bg;
        padding: 10px 10px;
        border: 1px solid @brand-border-line;
    }
}

.o_mail_thread {
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: @brand-border-line;
        top: 0px;
        bottom: 0;
        margin-left: 38px;
    }
    .o_thread_date_separator {
        margin-left: 40px;
        border-bottom: solid @brand-border-line 1px;
        .o_thread_date {
            background: @brand-form-sheet;
            color: @brand-form-field;
        }
    }
    .o_thread_message {
        .o_thread_message_core {
            pre {
                color: inherit;
                a:hover {
                    color: @brand-primary;
                }
                background: transparent;
                border: 1px solid @brand-border-line;
            }
        }
        .o_thread_message_core.o_mail_note {
            background-color: transparent;
            border-bottom: 1px solid @brand-border-line;
        }
        .o_thread_message_sidebar {
            position: relative;
            .o_thread_message_avatar {
                max-width: 50px;
                border: 2px solid @brand-border-line;
                -webkit-border-radius: 50%!important;
                -moz-border-radius: 50%!important;
                border-radius: 50%!important;
            }
        }
        .o_mail_info {
            color: @brand-form-field;
        }
    }
}

.o_mail_chat { 
    .o_mail_chat_content {
        background: transparent;
        .o_chat_composer {
            border-top: 1px solid #E5E5E5;
            background-color: #F9F9F9;
            position: relative;
            .o_composer {
                .o_composer_text_field {
                    background: transparent;
                    color: #fff;
                }
            }
        }
    }
}


// @media screen and (max-width: 1533px) and (min-width: 992px) {
    .o_form_view .o_form_sheet_bg > .o_form_sheet {
        padding-left: 32px;
    }

    .o_form_view .oe_button_box {
        margin-left: -32px !important;
        margin-right: -32px !important;
        text-align: right;
        float: unset;
        max-width: initial;
    }
// }

@media screen and (max-width: 1533px) and (min-width: 992px) {
    .o_form_view .o_form_sheet_bg > .o_form_sheet {
        padding-right: 32px;
    }
}

html .o_loading {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1051;
    top: auto;
}

.datepicker {
    .table-condensed {
        > thead {
            background-color: @brand-primary;
            > tr:first-child th:hover {
                color: #000;
                background-color: darken(@brand-primary, 10%);
            }
        }
        > tbody > tr > td.active, .datepicker .table-condensed > tbody > tr > td .active {
            background-color: @brand-primary;
        }
    }
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
    color: @brand-primary;
    &:hover {
        color: @brand-control-panel;
    }
}

.o_form_view {
    .o_form_required.o_form_input {
        background: transparent;
        border-bottom: 1px solid @brand-primary;
        border-top: 1px solid @brand-border-line;
        border-left: 1px solid @brand-border-line;
        border-right: 1px solid @brand-border-line;
        color: @brand-primary;
    }
    .o_form_sheet_bg {
        background: @brand-form-sheet-bg;
        border-bottom: 1px solid @brand-border-line;
        .o_form_sheet {
            background: @brand-form-sheet;
            border: 1px solid @brand-form-sheet;
            max-width: 98%;
        }
    }
    .oe_button_box {
        box-shadow: inset 0 -1px 0 @brand-border-line;
    }
}

.o_control_panel {
    background-color: @brand-form-sheet;
    border-bottom: 1px solid @brand-border-line;
    .breadcrumb {
        background: transparent;
    }
}

.table {
    > tbody > tr > td {
        border-top: 1px solid @brand-border-line;
    }
}

.o_form_view {
    > header {
        background: @brand-form-sheet;
        border: 1px solid @brand-border-line;
        > button:not(.btn-primary):not(.btn-link):not(.oe_highlight) {
            background-color: transparent;
            &:hover {
                border: 1px solid @brand-primary;
                color: #fff;
                background-color: transparent;
            }
        }
    }
    .table {
        > tbody > tr > td {
            border-top: 1px solid @brand-border-line;
        }
    }
    .nav-tabs {
        border-bottom: 1px solid @brand-border-line;
        > li.active > a {
            background-color: transparent;
            color: @brand-primary;
            border-left: 1px solid @brand-border-line;
            border-right: 1px solid @brand-border-line;
            border-bottom: 1px solid @brand-form-sheet;
        }
    }
    .o_form_textarea {
        background: transparent;
        color: @brand-form-field;
        padding: .375rem .75rem;
        border: 1px solid @brand-border-line;
        &:focus {
            color: @brand-form-field;
            background-color: transparent;
            border-color: @brand-primary;
            outline: none;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(219,101,116,0.25);
            box-shadow: 0 0 0 0.2rem rgba(219,101,116,0.25);
        }
    }
    .o_group {
        .o_form_textarea,
        .o_form_input,
        .o_form_field {
            border: 1px solid @brand-border-line;
            background: transparent;
            border-radius: 0px;
            color: @brand-form-field;
            padding: .375rem .75rem;
        }
        .o_form_textarea:focus,
        .o_form_input:focus,
        .o_form_field:focus {
            color: @brand-form-field;
            background-color: transparent;
            border-color: @brand-primary;
            outline: none;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(219,101,116,0.25);
            box-shadow: 0 0 0 0.2rem rgba(219,101,116,0.25);
        }
    }
    ul.oe_form_status li.oe_active {
        background-color: transparent;
        border: 1px solid @brand-border-line;
    }
}
hr {
    border-top: 1px solid @brand-border-line;
}
.o_list_view {
    background-color: @brand-form-sheet;
    > thead {
        background-color: transparent;
        color: @brand-table-color;
    }
}

/*
* ==========================================================
*     TABLES
* ==========================================================
*/
  .table {
    margin-bottom: 0;
  }
  
  .table td,
  .table th {
    border-color: #343a40;
  }
  
  .table thead th {
    border: none;
  }
  
  .table-striped tbody tr {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #282b2f;
  }
  
  .table-striped tbody tr:nth-of-type(odd):hover {
    background-color: #26292d;
  }
  
  .table-bordered td,
  .table-bordered th {
    border-color: #343a40;
  }

  @media (max-width: 991px) {
    section.tables {
      padding: 0;
    }
  }

  .o_list_view tfoot {
    cursor: default;
    color: #4c4c4c;
    background-color: transparent;
    font-weight: bold;
    border-top: 1px solid @brand-border-line;
    border-bottom: 1px solid @brand-border-line;
}

/* Portrait and Landscape */
/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .o_web_client {
        > .o_main .o_sub_menu {
            display: none;
        }
    }
}
 */

 /***
 SVG
 ***/
 svg {
    fill: @brand-form-input;
}

.nvd3.nv-pie .nv-slice text {
    fill: white !important;
}

.nv-legend-text {
    fill: @brand-form-input;
}


// X-Axis
.nv-y .tick.zero line { stroke: @brand-form-input; }
// Y-Axis
.nv-y .nv-axis g path.domain { stroke: @brand-form-input; }