body {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Proxima Nova', Georgia, sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  color: #666666 !important;
}
/***
Rounded corners reset
***/
/* Reset rounded corners for all elements */
div,
svg,
input,
select,
textarea,
span,
img,
table,
label,
td,
th,
p,
a,
button,
ul,
code,
pre,
li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
header > .main-nav {
  background-color: #DB6574;
}
.navbar-default {
  border-color: #DB6574;
}
header > .main-nav > .container-fluid .o_sub_menu > .o_sub_menu_content > .oe_secondary_menu > li.app-name {
  color: #DB6574;
  text-transform: uppercase;
}
header > .main-nav > .container-fluid > .navbar-header .navbar-toggle {
  color: #f8f8f8;
}
.navbar-default .navbar-nav > li > a {
  color: #eee;
  background-color: #eee;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #eee;
  color: #fff;
}
.navbar-nav > li .dropdown-menu {
  background: #2d3035;
  color: #fff;
}
.navbar-nav .open .dropdown-menu > li > a {
  padding: 8px 25px;
  color: #CACACA;
}
.navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: #DB6574;
  color: #fff;
}
.navbar-nav .open .dropdown-menu .divider {
  background-color: #34373d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #eee !important;
  background-color: #e58e99 !important;
}
.img-circle {
  border-radius: 50% !important;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #DB6574;
  line-height: 1.42857143;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
}
.badge {
  border: 1px solid #DB6574;
  margin: 1px 2px 1px 0;
  padding-top: 0;
  padding-bottom: 0;
}
/***
Kanban
***/
.o_web_client {
  background-color: #F9F9F9;
}
.o_web_client nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.o_web_client .navbar-inverse {
  background: #2d3035;
  border-color: #34373d;
}
.o_web_client .navbar-inverse .navbar-nav > .active > a {
  background: #DB6574;
  border-bottom: 2px solid #DB6574;
  color: #fff;
  text-transform: uppercase;
}
.o_web_client .navbar-inverse .navbar-nav > .active > a:hover {
  color: #DB6574;
  background: transparent;
}
.o_web_client .navbar-inverse .navbar-nav a:hover {
  color: #DB6574;
  background: transparent;
}
.o_web_client > .o_main {
  background: #22252a;
}
.o_web_client > .o_main .o_view_manager_content {
  background: #2d3035;
}
.o_web_client > .o_main .o_sub_menu {
  background-color: #2c3136;
  border-right: 1px solid #34373d;
  min-width: 280px;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section.active {
  background: #3F4448;
  transition: all .3s;
  border-left: 4px solid #DB6574;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section.active .oe_menu_leaf .oe_menu_text {
  color: #2d3035;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section {
  color: #CACACA;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding: 10px 10px;
  margin-left: 0px;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section .oe_menu_leaf .oe_menu_text {
  color: #CACACA;
  text-transform: uppercase;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu {
  margin: 0px;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > li:not(.active) > a {
  color: #a5a9ad;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > li:not(.active) > a:hover {
  background-color: #3F4448;
  color: #DB6574;
  border-color: #3F4448;
  transition: all .3s;
  border-left: 4px solid #DB6574;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > .nav-stacked > li + li {
  margin-top: 0px !important;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu .oe_menu_text {
  max-width: 100% !important;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content ul li.active {
  border-left: 4px solid #DB6574;
}
.o_web_client > .o_main .o_content .o_web_settings_dashboard {
  background: transparent;
}
.o_web_client > .o_main .o_content .o_web_settings_dashboard .o_web_settings_dashboard_col > div {
  background: #2d3035;
}
.o_web_client > .o_main .o_content .o_web_settings_dashboard .o_web_settings_dashboard_col > div > hr {
  border-color: #34373d;
}
.o_web_client > .o_main .o_content .o_web_settings_dashboard .o_web_settings_dashboard_col > div .o_web_settings_dashboard_invitation_form textarea {
  background: transparent;
  border-color: #34373d;
  color: #979a9f;
}
.o_web_client > .o_main .o_content .o_web_settings_dashboard .o_web_settings_dashboard_col > div .o_web_settings_dashboard_invitation_form textarea:focus {
  border-color: #DB6574;
  color: #fff;
}
.o_web_client > .o_main .o_content .o_web_settings_dashboard .o_web_settings_dashboard_col a:hover {
  color: #DB6574;
}
.o_web_client > .o_main .o_content .table tr td {
  border-color: #34373d;
  color: #8a8d93;
}
.o_web_client > .o_main ul li a i {
  font-size: 21px;
  margin-right: 7px;
  vertical-align: middle;
}
.o_web_client > .o_main ul li:nth-child(0) a i {
  color: #558B2F;
}
/***
Modal
***/
.modal .modal-content .modal-header {
  background: #2d3035;
  border-bottom-color: #34373d;
}
.modal .modal-content .modal-header .close {
  color: #DB6574;
  opacity: inherit;
  text-shadow: 0 1px 0 #DB6574;
}
.modal .modal-content .modal-body {
  background: #22252a;
}
.modal .modal-content .modal-body .table tfoot tr td {
  border-top-color: #34373d;
  border-bottom-color: #34373d;
}
.modal .modal-content .modal-footer {
  background: #2d3035;
  border-top-color: #34373d;
}
.nav-stacked > li + li {
  margin-top: 0px;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #003eff;
  background: red;
  font-weight: normal;
  color: #ffffff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: white;
  background-color: #3F4448;
}
.o_kanban_view .o_kanban_record {
  border-color: #d9d7d7;
  box-shadow: none !important;
}
.o_kanban_view .o_kanban_record:hover {
  border-color: #e07a87;
}
.o_kanban_view .o_kanban_record,
.o_kanban_view .o_kanban_quick_create {
  padding: 8px 8px;
  border: 1px solid #34373d;
  background-color: transparent !important;
}
.o_control_panel {
  background-color: #F1F3F6;
}
.o_control_panel .navbar-default .navbar-nav > .active > a,
.o_control_panel .navbar-default .navbar-nav > .active > a:hover,
.o_control_panel .navbar-default .navbar-nav > .active > a:focus {
  background-color: #e58e99;
}
.o_control_panel .breadcrumb {
  background-color: transparent;
}
.o_control_panel .breadcrumb > li > a {
  color: #DB6574;
}
.o_control_panel .breadcrumb > li > a:hover {
  color: #d13c4f;
}
.o_control_panel .o_searchview {
  background-color: #3d4853;
  border: 1px solid #485561;
}
.o_control_panel .o_searchview .o_searchview_input {
  background: transparent;
  color: #DB6574;
}
.o_control_panel .o_searchview .o_searchview_facet {
  background: #DB6574;
  border: 1px solid #DB6574;
}
.o_control_panel .o_searchview .o_facet_values,
.o_control_panel .o_searchview .o_facet_remove {
  color: #fff !important;
}
.ui-autocomplete {
  background: #2d3035;
}
.ui-autocomplete .ui-menu-item > a {
  color: #CACACA;
}
.ui-autocomplete .ui-menu-item:hover {
  background: #DB6574;
}
.btn-default {
  color: #DB6574;
  background-color: transparent;
  border-color: transparent;
}
.btn-default:hover {
  border-color: #DB6574;
  background: #34373d;
  color: #fff;
}
.btn-primary {
  color: white;
  background-color: #DB6574;
  border-color: #DB6574;
}
.btn-primary:hover {
  background-color: #dd6f7d;
  border-color: #dd6f7d;
}
.btn-primary:focus {
  color: #202020;
  background-color: #de717f;
  border-color: #de717f;
}
.btn-primary:active {
  background-color: #de7381 !important;
  border-color: #de7381 !important;
}
.btn {
  text-transform: uppercase;
}
.btn:active {
  box-shadow: none;
  border-color: #DB6574;
}
.btn:hover {
  border-color: #db6574;
}
.btn.active {
  box-shadow: none;
  border-color: #DB6574;
}
.btn-icon {
  color: #DB6574;
  background-color: transparent;
  border-color: transparent;
}
.btn-icon:hover {
  border-color: #DB6574;
}
.btn-icon[disabled] {
  border-color: transparent;
  background-color: transparent;
}
.btn-icon[disabled]:hover {
  background-color: transparent;
  border-color: #34373d;
}
.btn-icon:active,
.btn-icon.active,
.open > .dropdown-toggle.btn-icon {
  border-color: #DB6574;
  box-shadow: none;
}
.btn-icon:active:hover,
.btn-icon.active:hover,
.open > .dropdown-toggle.btn-icon:hover {
  border-color: #e58e99;
}
.btn-link {
  color: #DB6574;
}
.btn-link:hover {
  color: #d65061;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #000000;
  border-color: #000000;
  color: #8c8c8c;
}
/* 
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight) {
    color: @brand-primary;
    background-color: white;
    border-color: transparent;

    &:hover,
    &:focus,
    &:active {
        color: darken(@brand-main-nav, 20%);
        background-color: #fff;
        border-color: transparent;    
        // font-weight: bold;
    }
}
 */
a:hover {
  color: #000000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
  color: #DB6574;
}
.o_form_view.o_form_editable .o_form_field_monetary > .o_form_input:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #e8e9ea;
  outline: 0!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/***
Tabs
***/
.nav-tabs > li > a {
  color: #666666;
}
.nav-tabs > li > a:hover {
  color: #DB6574;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:focus {
  border-top: 1px solid;
  color: #b1293b;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}
/***
Breadcrumb
***/
/***
Table
***/
div.o_checkbox > input + span {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #8f8f8f;
  background-color: white;
}
div.o_checkbox > input {
  width: 20px;
  height: 20px;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  cursor: pointer;
}
div.o_checkbox > input:focus + span {
  outline: 1px solid #e58e99;
}
div.o_checkbox > input:checked + span {
  background-repeat: no-repeat;
  background-image: url(/condominium/static/src/img/checked.svg);
  background-position: center center;
}
td a {
  color: #DB6574;
}
td a:hover {
  color: #000000;
}
.o_list_view tbody:first-of-type > tr:first-child:not(.o_group_header) {
  box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}
.o_list_view > thead {
  background-color: white;
  border: none;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > :not(:empty) {
  padding: 10px 4px !important;
}
.o_list_view {
  border-collapse: initial;
}
.o_list_view > thead > tr > th.o_column_sortable:not(:empty) {
  padding-right: 13px;
}
.o_list_view > thead > tr > th.o_column_sortable:not(:empty):last-child {
  padding-right: 29px !important;
}
.o_list_view > thead > tr > :empty,
.o_list_view > tbody > tr > :empty,
.o_list_view > tfoot > tr > :empty {
  padding: 0;
}
.o_list_view > thead > tr > :empty::after,
.o_list_view > tbody > tr > :empty::after,
.o_list_view > tfoot > tr > :empty::after {
  display: none;
}
.o_list_view > thead > tr > *,
.o_list_view > tfoot > tr > * {
  padding-top: 8px;
  padding-bottom: 8px;
}
.o_list_view > thead {
  background-color: white;
  border: none;
}
.o_list_view > thead > tr:first-child > th {
  border: none;
}
.o_list_view tbody:first-of-type > tr:first-child:not(.o_group_header) {
  box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}
.o_list_view tfoot > tr > td {
  border-top: 2px solid #d9d7d7;
}
.o_list_view .o_progressbar_cell .o_progressbar {
  display: table-row;
}
.o_list_view .o_progressbar_cell .o_progressbar > div {
  width: 100%;
  display: table-cell;
}
.o_list_view .o_progressbar_cell .o_progressbar .o_progressbar_value {
  width: 45px;
  min-width: 45px;
}
.o_list_view.o_list_view_grouped > tbody > tr.o_group_header {
  background-color: #F9F9F9;
  box-shadow: inset 0 2px 0 #ffffff;
}
.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content {
  color: #777777;
}
.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content:hover,
.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content:focus,
.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.focus {
  color: #875A7B;
}
.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open {
  font-weight: bold;
  color: #2f3136;
}
.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open:hover,
.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open:focus,
.o_list_view.o_list_view_grouped > tbody > tr.o_group_header.o_group_has_content.o_group_open.focus {
  color: #875A7B;
}
.o_list_view.o_list_view_grouped > tbody + tbody > tr:first-child:not(.o_group_header) {
  box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}
.o_list_view.o_list_view_grouped.table-striped > tbody + tbody > tr:not(.o_group_header):nth-of-type(odd) {
  background-color: white;
}
.o_list_view .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) {
  border-right: 1px solid #E5E5E5;
}
.o_list_view .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) .o_input {
  padding-right: 4px;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > :not(:empty) {
  padding: 14px 4px;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr:not(.o_list_view_grouped) > td {
  padding: 7px 4px;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr.o_group_header > th,
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr.o_group_header > td {
  padding-top: 1px;
  padding-bottom: 1px;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tfoot > tr > :not(:empty) {
  padding: 12px 4px;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > th.o_column_sortable:not(:empty) {
  padding-right: 15px;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > th.o_column_sortable:not(:empty):last-child {
  padding-right: 31px !important;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > *:first-child,
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr > *:first-child,
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *:first-child {
  padding-left: 16px !important;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > *:last-child,
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr > *:last-child,
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *:last-child {
  padding-right: 16px !important;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > *.o_list_record_selector,
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr > *.o_list_record_selector,
.o_view_manager_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *.o_list_record_selector {
  padding-right: 5px!important;
}
.o_view_manager_content > div > .table-responsive > .o_list_view.table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) .o_input {
  padding: 7px 6px 7px 7px;
}
@media (min-width: 1200px) {
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > :not(:empty) {
    padding: 17px 4px;
  }
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr:not(.o_list_view_grouped) > td {
    padding: 8px 4px;
  }
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr.o_group_header > th,
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr.o_group_header > td {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > :not(:empty) {
    padding: 15px 4px;
  }
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > th.o_column_sortable:not(:empty) {
    padding-right: 18px;
  }
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > th.o_column_sortable:not(:empty):last-child {
    padding-right: 34px !important;
  }
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > *:first-child,
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr > *:first-child,
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > *:first-child {
    padding-left: 16px !important;
  }
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > *:last-child,
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr > *:last-child,
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > *:last-child {
    padding-right: 16px !important;
  }
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > thead > tr > *.o_list_record_selector,
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tbody > tr > *.o_list_record_selector,
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) > tfoot > tr > *.o_list_record_selector {
    padding-right: 5px!important;
  }
  .o_view_manager_content > div > .table-responsive > .o_list_view.table:not(.o_list_view_grouped) .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) .o_input {
    padding: 8px 7px 8px 8px;
  }
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #F9F9F9;
}
/***
Icons
***/
.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
  color: #000000;
}
.header-icon {
  font-size: 45px;
  width: 45px;
  float: left;
  line-height: 1;
}
/***
Dropdown
***/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #eee;
  background-color: #DB6574;
}
.o_search_options .o_group_by_menu li > a:hover,
.o_search_options .o_filters_menu li > a:hover,
.o_search_options .o_favorites_menu li > a:hover {
  color: #eee;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #DB6574;
}
.open > .dropdown-toggle.btn-primary {
  background-color: #000000;
  border-color: #DB6574;
}
.open > .dropdown-toggle.btn-primary:focus {
  background-color: #000000;
  border-color: #000000;
}
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #87202d;
  border-color: #87202d;
}
/***
Form Breadcrumb
***/
.ui-autocomplete {
  font-family: inherit;
}
.o_form_view > header {
  border-bottom: 1px solid #a8a8a8;
  background-color: #fff;
  background-image: none;
}
.o_form_view ul.oe_form_status li,
.o_form_view ul.oe_form_status_clickable li {
  background-color: #fff;
  background-image: none;
}
.o_form_view ul.oe_form_status li.oe_active,
.o_form_view ul.oe_form_status_clickable li.oe_active {
  background-color: #F9F9F9;
  background-image: none;
}
.o_form_view ul.oe_form_status li.oe_active > .arrow span,
.o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
  background-color: #F9F9F9 !important;
  background: #F9F9F9 !important;
}
.o_form_view ul.oe_form_status li.oe_active > .label,
.o_form_view ul.oe_form_status_clickable li.oe_active > .label {
  color: #DB6574;
  text-shadow: none;
}
.o_form_view ul.oe_form_status li > .arrow span,
.o_form_view ul.oe_form_status_clickable li > .arrow span {
  background-color: #fff;
  background: #fff;
}
.o_form_view ul.oe_form_status li.oe_active > .arrow span,
.o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
  background-color: #fff;
  background: #fff;
}
.o_form_view ul.oe_form_status,
.o_form_view ul.oe_form_status_clickable {
  text-transform: uppercase;
}
.btn-icon:active,
.btn-icon.active,
.open > .dropdown-toggle.btn-icon {
  background: #DB6574;
  color: #fff;
}
.btn-icon:active:hover,
.btn-icon.active:hover,
.open > .dropdown-toggle.btn-icon:hover {
  background: transparent;
  color: #DB6574;
}
/***
Form
***/
.o_form_view {
  background-color: #2d3035;
}
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight) {
  color: #DB6574;
  background-color: white;
  border-color: transparent;
}
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight):hover,
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight):focus,
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight):active {
  color: #b1293b;
  background-color: #fff;
  border-color: transparent;
}
.o_form_view > header ul.oe_form_status {
  /* text-transform: lowercase; */
}
.o_form_view > header ul.oe_form_status li {
  background: transparent;
}
.o_form_view > header ul.oe_form_status li > .label {
  text-shadow: unset;
}
.o_form_view > header ul.oe_form_status li > .arrow {
  background: #2d3035;
}
.o_form_view > header ul.oe_form_status li > .arrow span {
  background: transparent;
}
.o_form_view > header ul.oe_form_status li:last-child {
  border-right: 1px solid #34373d;
}
.o_form_view > header ul.oe_form_status li.oe_active {
  border: unset;
  background: #34373d;
}
.o_form_view > header ul.oe_form_status li.oe_active > .arrow span {
  background: #34373d !important;
}
.o_form_view > header ul.oe_form_status li.oe_active > .label {
  border-left: 1px solid #34373d;
}
.o_form_view .o_group .o_form_field:focus,
.o_form_view .o_form_field .o_form_input:focus,
.o_form_view .o_group .o_form_field:hover,
.o_form_view .o_form_field .o_form_input:hover {
  border-color: #DB6574 !important;
}
.o_form_view .o_form_field.o_form_field_many2one .o_external_button {
  color: #DB6574;
}
.o_form_view .o_form_field_image > .o_form_image_controls > .fa.o_select_file_button {
  background: #DB6574;
}
.o_form_view .o_group .o_td_label .o_form_label {
  font-weight: normal;
  margin-right: 0px;
  color: #666666 !important;
}
.o_form_view .oe_title {
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-top: 40px;
}
.o_form_view .oe_avatar {
  float: right;
}
.o_form_view .oe_avatar > img {
  box-shadow: none;
  border: 1px solid #a8a8a8;
}
.o_form_view .oe_button_box {
  width: initial;
  text-align: right;
  height: 44px;
  box-shadow: inset 0 -1px 0 #d9d7d7;
  margin-top: -17px;
  margin-left: -17px;
  margin-right: -16px;
  margin-bottom: 24px;
}
.o_form_view .oe_button_box .oe_stat_button {
  width: 142px !important;
  height: 44px;
  text-transform: capitalize;
  background: transparent;
  border: 1px solid #34373d;
}
.o_form_view .oe_button_box .oe_stat_button:hover {
  background: #3F4448;
}
.o_form_view .oe_button_box .oe_stat_button:hover .oe_stat_text {
  color: #fff;
}
.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
  color: #666666;
  font-size: 22px;
}
.o_form_view .o_horizontal_separator {
  color: #a5a7ab;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  border-bottom: 1px dotted #DB6574;
  background: transparent;
}
.o_form_view .o_group .o_td_label {
  border-right: none;
}
.o_form_view .o_group .o_td_label .o_form_label {
  color: #777;
  font-size: inherit;
}
.o_form_view .o_form_field {
  background-color: transparent;
}
.o_form_view.o_form_readonly .o_form_uri {
  color: #DB6574;
}
.o_form_view.o_form_readonly .o_form_uri:hover {
  color: #000000;
}
.o_form_view .o_form_field .o_form_input {
  background: transparent;
  border: 1px solid #34373d;
  color: #777;
}
/***
Chater
***/
@media (min-width: 1200px) {
  .o_form_view .oe_chatter {
    width: 1172px;
    max-width: 100%;
  }
}
.o_chatter .o_mail_thread {
  position: relative;
}
.o_mail_thread:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f5f6fa;
  top: 0px;
  bottom: 0;
  margin-left: 38px;
}
.o_mail_thread .o_thread_date_separator {
  margin-left: 40px;
  border-bottom: solid #EBEBEB 1px;
}
.o_mail_thread .o_thread_message .o_thread_message_core.o_mail_note {
  background-color: transparent;
  border-bottom: 1px solid #34373d;
}
.o_mail_thread .o_thread_message .o_thread_message_sidebar {
  position: relative;
}
.o_mail_thread .o_thread_message .o_thread_message_sidebar .o_thread_message_avatar {
  max-width: 50px;
  border: 2px solid #34373d;
  -webkit-border-radius: 50%!important;
  -moz-border-radius: 50%!important;
  border-radius: 50%!important;
}
.o_mail_chat .o_mail_chat_content {
  background: transparent;
}
.o_mail_chat .o_mail_chat_content .o_chat_composer {
  border-top: 1px solid #E5E5E5;
  background-color: #F9F9F9;
  position: relative;
}
.o_form_view .o_form_sheet_bg > .o_form_sheet {
  padding-left: 32px;
}
.o_form_view .oe_button_box {
  margin-left: -32px !important;
  margin-right: -32px !important;
  text-align: right;
  float: unset;
  max-width: initial;
}
@media screen and (max-width: 1533px) and (min-width: 992px) {
  .o_form_view .o_form_sheet_bg > .o_form_sheet {
    padding-right: 32px;
  }
}
html .o_loading {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1051;
  top: auto;
}
.datepicker .table-condensed > tbody > tr > td.active,
.datepicker .table-condensed > tbody > tr > td .active {
  background-color: #DB6574;
}
.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
  color: #DB6574;
}
.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a:hover {
  color: #2d3035;
}
.o_form_view .o_form_required.o_form_input {
  background: transparent;
  border-bottom: 1px solid #DB6574;
  border-top: 1px solid #34373d;
  border-left: 1px solid #34373d;
  border-right: 1px solid #34373d;
  color: #DB6574;
}
.o_form_view .o_form_sheet_bg {
  background: #22252a;
  border-bottom: 1px solid #34373d;
}
.o_form_view .o_form_sheet_bg .o_form_sheet {
  background: #2d3035;
  border: 1px solid #2d3035;
  max-width: 98%;
}
.o_form_view .oe_button_box {
  box-shadow: inset 0 -1px 0 #34373d;
}
.o_control_panel {
  background-color: #2d3035;
  border-bottom: 1px solid #34373d;
}
.o_control_panel .breadcrumb {
  background: transparent;
}
.o_form_view > header {
  background: #2d3035;
  border: 1px solid #34373d;
}
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight) {
  background-color: transparent;
}
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight):hover {
  border: 1px solid #DB6574;
  color: #fff;
  background-color: transparent;
}
.o_form_view .table > tbody > tr > td {
  border-top: 1px solid #34373d;
}
.o_form_view .nav-tabs {
  border-bottom: 1px solid #34373d;
}
.o_form_view .nav-tabs > li.active > a {
  background-color: transparent;
  color: #DB6574;
  border-left: 1px solid #34373d;
  border-right: 1px solid #34373d;
  border-bottom: 1px solid #2d3035;
}
.o_form_view .o_form_textarea {
  background: transparent;
  color: #979a9f;
  padding: .375rem .75rem;
  border: 1px solid #34373d;
}
.o_form_view .o_form_textarea:focus {
  color: #979a9f;
  background-color: transparent;
  border-color: #DB6574;
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(219, 101, 116, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(219, 101, 116, 0.25);
}
.o_form_view .o_group .o_form_textarea,
.o_form_view .o_group .o_form_input,
.o_form_view .o_group .o_form_field {
  border: 1px solid #34373d;
  background: transparent;
  border-radius: 0px;
  color: #979a9f;
  padding: .375rem .75rem;
}
.o_form_view .o_group .o_form_textarea:focus,
.o_form_view .o_group .o_form_input:focus,
.o_form_view .o_group .o_form_field:focus {
  color: #979a9f;
  background-color: transparent;
  border-color: #DB6574;
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(219, 101, 116, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(219, 101, 116, 0.25);
}
.o_form_view ul.oe_form_status li.oe_active {
  background-color: transparent;
  border: 1px solid #34373d;
}
hr {
  border-top: 1px solid #34373d;
}
.o_list_view {
  background-color: #2d3035;
}
.o_list_view > thead {
  background-color: transparent;
  color: #8a8d93;
}
/*
* ==========================================================
*     TABLES
* ==========================================================
*/
.table {
  margin-bottom: 0;
}
.table td,
.table th {
  border-color: #343a40;
}
.table thead th {
  border: none;
}
.table-striped tbody tr {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #282b2f;
}
.table-striped tbody tr:nth-of-type(odd):hover {
  background-color: #26292d;
}
.table-bordered td,
.table-bordered th {
  border-color: #343a40;
}
@media (max-width: 991px) {
  section.tables {
    padding: 0;
  }
}
.o_list_view tfoot {
  cursor: default;
  color: #4c4c4c;
  background-color: transparent;
  font-weight: bold;
  border-top: 1px solid #34373d;
  border-bottom: 1px solid #34373d;
}
